<footer
  class="position-relative rounded-top-4 bg-body text-body"
  data-bs-theme="dark">
  <div class="container px-4 py-5">
    <div class="row">
      <div class="col-12 col-sm-6">
        <p class="h4">White Lion Agency</p>
        <p class="small">
          Рекламное агентство<br />
          «Белый лев»
        </p>
      </div>
      <div class="col">
        <p><a href="mailto:admin@bel-lev.ru">admin@bel-lev.ru</a></p>
        <p><a href="tel:+78312331205">+7 831 233 1205</a></p>
        <p>
          603000, Нижний Новгород,<br />
          ул. Полтавская, 32
        </p>
      </div>
    </div>
  </div>
</footer>
